name: Auto Reviewer

on:
  pull_request:
    types: [opened, labeled]

jobs:
  auto-reviewer:
    runs-on: ubuntu-latest
    if: contains(join(github.event.pull_request.labels.*.name, ','), 'dependencies')
    permissions:
      pull-requests: write

    steps:
      - name: Add reviewers for a Dependabot PR
        if: contains(join(github.event.pull_request.labels.*.name, ','), 'javascript')
        uses: actions/github-script@v7
        with:
          script: |
            await github.rest.pulls.requestReviewers({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
              reviewers: ['EryneKL']
            });
